@import './../../css/variable';

.payment-block {}


.wallet-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    .wallet {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 76px;
        height: 76px;
        border: 2px solid gray;
        border-radius: 6px;
        justify-content: center;

        input[type="radio"] {
            margin-right: 0px;
            position: absolute;
            opacity: 0;
        }

        img {
            width: 46px;
            height: auto;
        }

        &.selected {
            border-color: $primary-color;
        }
    }

}


.payment-accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .accordion-item {
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
        // padding: 5px 0;

        .accordion-header {


            .accordion-button {
                background: none;
                border: none;
                color: $page-title-color;
                font-weight: 500;
                font-size: $common-font;

                svg {
                    color: #636073;
                }

                &:not(.collapsed) {
                    background-color: $primary-color;
                    color: #fff;

                    svg {
                        color: #fff;
                    }

                    &::after {
                        filter: invert(1);
                    }
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}